<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<title><%= yield(:page_title) || "TITLE" %></title>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
<link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
<link rel="stylesheet" type="text/css" href="stylesheets/fixes.css" />

<link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
</head>
<body class="guide">

  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-M5VK7K"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-M5VK7K');</script>
  <!-- End Google Tag Manager -->

  <div id="topNav">
    <div class="wrapper">
      <strong class="more-info-label">More from <a href="http://rubymentor.io?utm_campaign=empire&utm_medium=referral&utm_source=guides">RubyMentor</a>:</strong>
      <ul class="more-info-links xs-hidden">
        <li class="more-info"><a href="http://codementor.io/rubymentor?utm_campaign=empire&utm_medium=referral&utm_source=guides" alt="Hourly Expert Ruby Mentorship">
          Get Expert Help NOW</a></li>
        <li class="more-info"><a href="http://rubymentor.io/plans?utm_campaign=empire&utm_medium=referral&utm_source=guides" alt="Want a more personal and direct technology education?">
          Monthly Mentorship Plans</a></li>
        <li class="more-info"><a href="http://rubylive.tv?utm_campaign=empire&utm_medium=referral&utm_source=guides" alt="Watch REAL Ruby get coded before your eyes!">
          Watch Ruby coded LIVE!</a></li>
      </ul>
    </div>
  </div>
  <div id="header">
    <div class="wrapper clearfix">
      <h1 class="hidden-xs"><a href="index.html" title="Return to home page">homepage</a></h1>
      <ul class="nav">
        <li class="guides-index guides-index-large">
          <a href="index.html" id="guidesMenu" class="guides-index-item nav-item">Guides Index</a>
          <div id="guides" class="clearfix" style="display: none;">
            <hr />
            <% ['L', 'R'].each do |position| %>
              <dl class="<%= position %>">
              <% docs_for_menu(position).each do |section| %>
                <dt><%= section['name'] %></dt>
                <% finished_documents(section['documents']).each do |document| %>
                <dd><a href="<%= document['url'] %>"><%= document['name'] %></a></dd>
                <% end %>
              <% end %>
              </dl>
            <% end %>
          </div>
        </li>
        <li class="hidden-xs">&nbsp;</li>
        <li class="guides-index guides-index-small">
          <select class="guides-index-item nav-item">
            <option value="index.html">Guides Index</option>
            <% docs_for_menu.each do |section| %>
              <optgroup label="<%= section['name'] %>">
                <% finished_documents(section['documents']).each do |document| %>
                  <option value="<%= document['url'] %>"><%= document['name'] %></option>
                <% end %>
              </optgroup>
            <% end %>
          </select>
        </li>
      </ul>
    </div>
  </div>
  <hr class="hide" />

  <div id="feature">
    <div class="wrapper">
      <%= yield :header_section %>

      <%= yield :index_section %>
    </div>
  </div>

  <div id="container">
    <div class="wrapper">
      <div id="mainCol">
        <%= yield.html_safe %>
      </div>
    </div>
  </div>

  <hr class="hide" />
  <div id="footer">
    <div class="wrapper">
      <%= render 'license' %>
    </div>
  </div>

  <script type="text/javascript" src="javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="javascripts/responsive-tables.js"></script>
  <script type="text/javascript" src="javascripts/guides.js"></script>
  <script type="text/javascript" src="javascripts/syntaxhighlighter/shCore.js"></script>
  <script type="text/javascript" src="javascripts/syntaxhighlighter/shBrushRuby.js"></script>
  <script type="text/javascript" src="javascripts/syntaxhighlighter/shBrushXml.js"></script>
  <script type="text/javascript" src="javascripts/syntaxhighlighter/shBrushSql.js"></script>
  <script type="text/javascript" src="javascripts/syntaxhighlighter/shBrushPlain.js"></script>
  <script type="text/javascript" src="javascripts/notice.js"></script>
  <script type="text/javascript">
    SyntaxHighlighter.all();
    $(guidesIndex.bind);
  </script>
</body>
</html>
